In [8]:
import pandas as pd
from io import StringIO

In [9]:
#df = pd.DataFrame([['a', 'b'], ['c', 'd']],
#                  index=['row 1', 'row 2'],
#                  columns=['col 1', 'col 2'])

In [10]:
#json = df.to_json()
#json

In [11]:
#pd.read_json(StringIO(json))

In [12]:
from autoCM_Semeion import autoCM

In [13]:
df_dataset = pd.read_csv('DBgang27x14.csv',index_col=0)
df_dataset = df_dataset.T
df_dataset

,ART,AL,SAM,CLYDE,MIKE,JIM,GREG,JOHN,DOUG,LANCE,...,NICK,DON,NED,KARL,KEN,EARL,RICK,OL,NEAL,DAVE
Jet,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Sharks,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
20s,0,0,1,0,0,1,1,1,0,1,...,0,0,0,0,1,0,0,0,0,0
30s,0,1,0,0,1,0,0,0,1,0,...,1,1,1,0,0,0,1,1,1,1
40s,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
JH,1,1,0,1,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
COL,0,0,1,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
HS,0,0,0,0,0,0,1,0,1,0,...,1,0,0,1,1,1,1,0,1,1
Single,1,0,1,1,1,0,0,0,1,0,...,1,0,0,0,1,0,0,0,1,0
Married,0,1,0,0,0,0,1,1,0,1,...,0,1,1,1,0,1,0,1,0,0
Divorced,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Pusher,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,1
Bookie,0,0,1,1,1,0,0,0,1,0,...,0,0,1,1,0,0,0,0,1,0
Burglar,0,1,0,0,0,1,0,1,0,1,...,0,1,0,0,1,1,1,0,0,0

In [14]:
df_weights = autoCM.autoCM_fit(df_dataset)
df_weights

<Response [500]>

TypeError: initial_value must be str or None, not method